[Desktop Entry]
Name=Unity
Exec=/opt/${P}/Editor/Unity %U
Icon=${P}-icon
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;IDE;
MimeType=x-scheme-handler/com.unity3d.kharma;
